@import url("https://fonts.googleapis.com/css2?family=Acme&family=Kalnia:wght@300&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Space+Mono:ital@1&display=swap");

body {
  font-family: "Kalnia", sans-serif;
  background-color: var(--clr-light);
}

h1,
h2 h3,
h4,
h5 {
  font-family: "space-mono", sans-serif;
}

:root {
  --clr-blue: #181e69;
  --clr-light: #ffffff;
  --clr-dark: #212529;
}

.white {
  color: var(--clr-white);
}

.dark-background {
  background-color: var(--clr-dark);
}

.blue-background {
  background-color: var(--clr-blue);
}

#app {
  display: flex;
}

.hover-white:hover {
  transition: 0.5s ease-in-out;
  color: var(---clr-light);
}

/* Navigation */

.fill-viewport-height {
  min-height: 80vh;
}

/* Alert Box */

#alert-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  /* height:fit-content; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-container {
  height: 80vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  top: 0;
}

.hero-image {
  height: 80vh;
  width: 100%;
  background: url("https://res.cloudinary.com/digdpxm2u/image/upload/v1703272366/gsd1u50szuutf3bt6f9f.jpg")
    no-repeat center center / cover;
}
