@import url("https://fonts.googleapis.com/css2?family=Acme&family=Kalnia:wght@300&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Space+Mono:ital@1&display=swap");

body {
    font-family: "Kalnia", sans-serif;
    background-color: var(--clr-light);
}

:root {
    --clr-grey: grey;
    --clr-light: #ffffff;
    --clr-dark: #212529;
}

h1,
h2 h3,
h4,
h5 {
    font-family: "space-mono", sans-serif;
}

/* Text */
.white-text {
    transition: 0.5s ease-in-out;
    color: var(--clr-white);
}

.light-text {
    color: var(--clr-light);
}

.dark-text {
    color: var(--clr-dark);
}

.font-kalnia {
    font-family: "kalnia", serif;
}

/* Background Colors */

.dark-background {
    background-color: var(--clr-dark);
}

.blue-background {
    background-color: var(--clr-blue);
}

.hover-white:hover {
    transition: 0.5s ease-in-out;
    color: var(---clr-light);
}

/* Navigation */

.fill-viewport-height {
    min-height: 80vh;
}

/* Alert Box */

#alert-container {
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
}

/* Custom Utilities */

.custom-button-dark-blue {
    transition: 0.5s ease-in-out;
    background-color: var(--clr-dark);
    color: var(--clr-blue);
    box-shadow: 0 0.2rem 1rem var(--clr-blue);
}

.custom-button-dark-grey:hover {
    transition: 0.5s ease-in-out;
    background-color: var(--clr-grey);
    color: var(--clr-dark);
    box-shadow: 0 0.2rem 1rem var(--clr-dark);
    transform: scale(1.01);
}

.custom-button-light-grey {
    transition: 0.5s ease-in-out;
    background-color: var(--clr-light);
    color: var(--clr-gold);
    box-shadow: 0 0.2rem 1rem var(--clr-grey);
}

.custom-button-light-grey:hover {
    transition: 0.5s ease-in-out;
    background-color: var(--clr-grey);
    color: var(--clr-light);
    box-shadow: 0 0.2rem 1rem var(--clr-dark);
    transform: scale(1.01);
}

.custom-close-btn {
    transition: 0.5s ease-in-out;
}

.custom-close-btn:hover {
    transition: 0.5s ease-in-out;
    transform: scale(1.15) rotateZ(-20deg);
}

.open-package-modal-btn {
    width: 80%;
    transition: 0.5s ease-in-out;
    box-shadow: 0 0.2rem 1rem var(--clr-grey);
    border-radius: 0.5rem;
    background-color: var(--clr-dark);
    color: var(--clr-light);
    font-family: "kalnia", serif;
}

.open-package-modal-btn:hover {
    transition: 0.5s ease-in-out;
    transform: scale(1.1);
    background-color: var(--clr-light);
    color: var(--clr-dark);
}

.custom-card-light-grey {
    background-color: var(--clr-light);
    color: var(--clr-dark);
    box-shadow: 0 0.2rem 1rem var(--clr-grey);
}

/* Home Page */

.hero-container {
    height: 80vh;
    width: 100%;
    overflow: hidden;
    position: relative;
    top: 0;
}

.hero-image {
    height: 80vh;
    width: 100%;
    background: url("https://res.cloudinary.com/digdpxm2u/image/upload/v1703508878/indoorkartingheroimage_iuwfhi.jpg") no-repeat center center / cover;
}

.heading {
    width: fit-content;
}

.package-hover {
    transition: 0.5s ease-in-out;
    text-decoration: none;
    box-shadow: 0 0.2rem 1rem var(--clr-grey);
}

.package-hover:hover {
    transition: 0.5s ease-in-out;
    background-color: var(--clr-light);
    color: var(--clr-dark);
    transform: scale(1.01);
}

.grey-shadow {
    box-shadow: 0 0.2rem 1rem var(--clr-grey);
}

.push-down {
    position: relative;
    top: 3rem;
}

/* Account Pages */

.email-box {
    max-width: 36em;
}