{% extends "base.html" %} {% block content %} {% load account %}

<div class="container mt-5">
  <p class="pt-5">Welcome, {% user_display user %}!</p>
  <h1 class="text-center">Upcoming Race Days</h1>
  {% if object_list %} {% for booking in object_list %}
<a href="{% url 'booking-detail' booking.id %}"></a>iv class="d-flex justify-content-center">
    <div class="card shadow p-3 m-3 text-center w-75 package-hover">
      <p>{{ booking.date_of_booking|date:"l j F Y" }}</p>
    {% if user.is_superuser %}
      <p>{{ booking.username }}</p>
    {% endif %}
      <p>{{ booking.service_name }} at {{ booking.start_time|date:"g a" }}</p>
    <p>End time: {{ booking.end_time }}</p>
    
</a>
    

  {% endfor %}
<a href="{% url 'createbooking' %}"class="link-underline link-underline-opacity-0"></a>
    <div class="d-grid gap-2 md-col-5 mx-auto pt-3"></div>
    <button class="btn custom-button-dark-grey pt-3 package-hover"type="button">
        <h2>Book Another Race Day</h2>
      </button>
    </div>
  </a>
  {% else %}
  <div class="d-flex justify-content-center">
    <div class="card shadow p-3 m-3 text-center w-75">
    <p class="pt-3">No upcoming Race Days.</p>
                <a href="{% url 'createbooking' %}" class="link-underline link-underline-opacity-0">
                    <div class="d-grid gap-2 md-col-6 mx-auto p-3">
                        <button class="btn custom-button-dark-grey pt-3 package-hover" type="button"><h2>Book A Race Day</h2></button>
      </a>
    </div>
  </div>
  {% endif %} {% if is_paginated %}
  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
      {% if page_obj.has_previous %}
      <li>
        <a href="?page={{ page_obj.previous_page_number }}" class="page-link"
          >&laquo; PREV
        </a>
      </li>
      {% endif %} {% if page_obj.has_next %}
      <li>
        <a href="?page={{ page_obj.next_page_number }}" class="page-link">
          NEXT &raquo;</a
        >
      </li>
      {% endif %}
    </ul>
  </nav>
  {% endif %}
</div>

{% endblock %}
